<%- include('sections/hero.ejs') %>
<%- include('sections/services.ejs') %>
<%- include('../../sections/reviews.ejs') %>
<trds-section>
    <trds-stack>
        <trds-title level="2" class="variant--1">Munkáink</trds-title>
        <p class="size--xl" style="font-weight: bold">Megújult felületünkön a folyamatosan frissülő munkáink között böngészhetsz kategóriákra bontva.</p>
        <a is="trds-button--link" text="Tovább a munkáinkhoz" icon="solid/arrow-right" class="icon-on-right" href="/munkaink"></a>
    </trds-stack>
</trds-section>
<%- include('sections/extraservices.ejs') %>
<%- include('sections/callus.ejs') %>
<%- include('sections/aboutus.ejs') %>
<%- include('sections/counter.ejs') %>
<%- include('../../sections/faq.ejs') %>
<script type="module">
    import { initCategory } from '/cdn/js/category.js'; // port to cdn
    initCategory(document.getElementById('faq-category'));
</script>
<%- include('../../sections/contact.ejs') %>