<%- include('sections/pdr_hero.ejs') %>
<%- include('sections/pdr_timeline.ejs') %>
<%- include('sections/pdr_getrepair.ejs') %>
<%- include('../../sections/reviews.ejs') %>
<trds-section>
    <trds-stack>
        <trds-title level="2" class="variant--1">Munkáink</trds-title>
        <workmedias-short category="dent"></workmedias-short>
        <a is="trds-button--link" text="További munkáink" icon="solid/arrow-right" class="icon-on-right" href="/munkaink"></a>
    </trds-stack>
</trds-section>
<%- include('../../sections/faq.ejs') %>
<script type="module">
    import { initCategory } from '/cdn/js/category.js'; // port to cdn
    initCategory(document.getElementById('faq-category'), 'pdr');
</script>
<%- include('../../sections/contact.ejs') %>