<%- include('sections/pdr_hero.ejs') %>
<%- include('sections/pdr_timeline.ejs') %>
<%- include('sections/pdr_getrepair.ejs') %>
<%- include('../../sections/reviews.ejs') %>
<trds-section>
    <trds-stack>
        <h2 class="variant--1">Munkáink</h2>
        <div id="workmedia-list" class="short"></div>
    <script defer src="/cdn/js/main.e76fbe2c.js"></script>
</trds-section>
<%- include('../../sections/faq.ejs') %>
<script type="module">
    import { initCategory } from '/cdn/js/category.js'; // port to cdn
    initCategory(document.getElementById('faq-category'), 'pdr');
</script>
<%- include('../../sections/contact.ejs') %>