<%- include('sections/pdr_hero.ejs') %>
<%- include('sections/pdr_timeline.ejs') %>
<%- include('sections/pdr_getrepair.ejs') %>
<%- include('../../sections/reviews.ejs') %>
<trds-section>
    <trds-stack>
        <trds-title level="2" class="variant--1">Munkáink</trds-title>
        <workmedias-short category="dent"></workmedias-short>
        <a is="trds-button--link" text="További munkáink" icon="solid/arrow-right" class="icon-on-right" href="/munkaink"></a>
    </trds-stack>
</trds-section>
<trds-section>
    <trds-stack>
        <trds-title level="2" class="variant--1">Gyakran ismételt kérdések</trds-title>
        <tr-faq category="pdr"></tr-faq>
    </trds-stack>
</trds-section>
<script type="module" src="/modules/tr-faq.js"></script>
<%- include('../../sections/contact.ejs') %>