<% const contactData = 
    [{
        "city": "Győr",
        "phoneNumber": "+36 70 593 9393",
        "address": "A Céltrans 97 Zrt. telephelyén található. 9028 Győr, Sashegy puszta 1.",
        "googleMapsLink": "https://goo.gl/maps/jEsfocXRGT9Ezg6U9"
    },{
        "city": "Budapest",
        "phoneNumber": "+36 70 389 5187",
        "address": "A Fugio Kft. telephelyén található. 1037 Budapest, Kunigunda útja 80.",
        "googleMapsLink": "https://goo.gl/maps/Xf7j1UjkcwmaE4M49"
    },{
        "city": "Mohács",
        "phoneNumber": "+36 70 883 8764",
        "address": "7700 Mohács, Virág utca 45.",
        "googleMapsLink": "https://goo.gl/maps/yAjXeYWW6jK9dSzK7"
    }];
%>
<section>
    <trbs-stack>
        <h2 class="trbs-title--uppercasegrey">Kapcsolat</h2>
        <trbs-grid>
            <% contactData.forEach(contact => { %>
                <trbs-stack style="gap:var(--trbs-space--m); grid-template-rows: auto auto auto 1fr">
                    <h3><%- contact.city %></h3>
                    <trbs-stack style="gap:var(--trbs-space--m)">
                        <h4>Időpontfoglalás</h4>
                        <trbs-stack style="gap:var(--trbs-space--s)">
                            <a href="tel:<%- contact.phoneNumber %>">
                                <trbs-grid class="elements">
                                    <trbs-icon icon="solid/phone" style="color:var(--trbs-color--red)"></trbs-icon>
                                    <span style="font-weight: bold;"><%- contact.phoneNumber %></span>
                                </trbs-grid>
                            </a>
                            <trbs-grid class="elements" style="flex-wrap: nowrap">
                                <trbs-icon icon="solid/clock" style="color:var(--trbs-color--red)"></trbs-icon>
                                <span>Hétfő-Péntek, 8:00 - 17:00</span>
                            </trbs-grid>
                            <trbs-grid class="isavailable elements" style="flex-wrap: nowrap">
                                <trbs-icon icon="solid/circle" style="color:var(--trbs-color--red);flex-shrink: 0;"></trbs-icon>
                                <span>Jelenleg zárva vagyunk, így időpontfolgalás nem lehetséges.</span>
                            </trbs-grid>
                        </trbs-stack>
                    </trbs-stack>
                    <trbs-stack style="gap:var(--trbs-space--m)">
                        <h4>Műhely</h4>
                        <trbs-stack style="gap:var(--trbs-space--s)">
                            <trbs-grid class="elements" style="flex-wrap: nowrap">
                                <trbs-icon icon="solid/map-marker-alt" style="color:var(--trbs-color--red);  flex-shrink: 0; align-self: baseline"></trbs-icon>
                                <span><%- contact.address %></span>
                            </trbs-grid>
                            <trbs-grid class="elements" style="flex-wrap: nowrap">
                                <trbs-icon icon="solid/clock" style="color:var(--trbs-color--red)"></trbs-icon>
                                <span>Nyitvatartás bejelentkezés alapján</span>
                            </trbs-grid>
                        </trbs-stack>
                    </trbs-stack>
                    <button is="trbs-button" style="align-self: end; margin-top:var(--trbs-space--s)" text="Megnyitás google mapsben" href="<%- contact.googleMapsLink %>" icon="solid/map-marked-alt" class="trbs-button--icon-on-right"></button>
                </trbs-stack>
            <% }); %>
            <script async>

                    let now = new Date(),
                    isAvailable = ((now.getHours() >= 8) && (now.getHours() < 17) && (now.getDay() != 0) && (now.getDay() != 6)),
                    $isAvailable = document.querySelectorAll('.isavailable');
        
                if(isAvailable && $isAvailable.length > 0){
                    $isAvailable.forEach(el =>{
                        el.querySelector('trbs-icon').style.color = 'var(--trbs-color--green)';
                        el.querySelector('span').textContent = 'Időpontfoglalás lehetséges'
                    });
                }
        
            </script>
        </trbs-grid>
    </trbs-stack>
</section>
<section style="background-color: var(--trbs-color--red);">
    <trbs-grid>
        <a href="mailto:toprepair.hu@gmail.com" style="justify-content: center;">
            <trbs-stack style="justify-items: center;">
                <trbs-icon icon="solid/envelope" class="trbs-size--xl"></trbs-icon>
                <span>toprepair.hu@gmail.com</span>
            </trbs-stack>
        </a>
        <a href="https://maps.google.com/maps?cid=10727131549895732878&hl=hu" style="justify-content: center;">
            <trbs-stack style="justify-items: center;">
                <trbs-icon icon="brands/google" class="trbs-size--xl"></trbs-icon>
                <span>TOP REPAIR HUNGARY</span>
            </trbs-stack>
        </a>
        <a href="https://facebook.com/toprepairhungary" style="justify-content: center;">
            <trbs-stack style="justify-items: center;">
                <trbs-icon icon="brands/facebook" class="trbs-size--xl"></trbs-icon>
                <span>@toprepairhungary</span>
            </trbs-stack>
        </a>
    </trbs-grid>
</section>