<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NW2HMCX');</script>
<!-- End Google Tag Manager -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/trb/trb.css">
<script src="/trb/trb.js" type="module"></script>
<title><%= page.title %> - TOP REPAIR KFT.</title>
<meta name="description" content="<%= page.description %>"/>
<meta name="keywords" content="jégkár, horpadás, jégkár javítás, horpadás javítás"/>
<link rel="icon" href="/cdn/images/favicon.ico"/>
<link rel="apple-touch-icon" href="/cdn/images/apple-touch-icon.png"/>
<link rel="canonical" href="https://toprepair.hu<%= page.url %>"/>
<meta property="og:url" content="https://toprepair.hu<%= page.url %>" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="TOP REPAIR KFT."> 
<meta property="og:title" content="<%= page.title %>" />
<meta property="og:description" content="<%= page.description %>" />
<meta property="og:image" content="https://toprepair.hu/cdn/images/hero__bg1920.jpg" />