<% 
    locals.trbUrl = process.env.mode === 'production' ? 'https://trbs.netlify.app' : 'http://192.168.0.101:5050';
%> 
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('sections/head.ejs') %>
    <script>

        window.isProduction = <%= process.env.mode === 'production' %>;

    </script>
    <!-- this is until client side routing implemented -->
    <script src="/cdn/js/pageloader.js"></script>
    <script type="module" async src="<%- trbUrl %>/themes/tr-theme.js"></script>
    <script type="module" async src="<%- trbUrl %>/trbs-bundle.js"></script>
</head>
<body class="trbs-loader--active">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NW2HMCX" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%- include('sections/header.ejs') %>
    <main>
        <%- include(`pages/${page.name}/${page.name}.ejs`) %>
    </main>
    <%- include('sections/footer.ejs') %>
    <%- include('sections/cookiebar.ejs') %>
    <script type="module" async src="<%- trbUrl %>/components/trbs-modal.js"></script>
    <trbs-modal id="fontosinfo" showonfirsthit title="Fontos információ - 2021.07.01.">
        <trbs-stack>
            <p>
            Kedves Ügyfeleink!<br>
            <br>
            Határozatlan ideig szüneteltetjük magyarországi tevèkenysègünket.<br>
            <br>
            Csapatunk Ausztriába kapott meghívást, ahol több mint 200 totálkár közeli jègkáros autót kell megjavítanunk.<br>
            <br>
            Előreláthatólag 2021 Október környèkèn tudunk fogadni ismèt javítandó járműveket magyarországi műhelyeinkbe.<br>
            <br>
            Megèrtèsüket köszönjük.</p>
        </trbs-stack>
    </trbs-modal>
</body>
</html>