<!DOCTYPE html>
<html lang="hu">
<head>
    <%- include('sections/head.ejs') %>
    <% const trdsUrl = process.env.mode === 'production' ? 'https://trds.netlify.app' : 'http://localhost:1111/'; %>
    <script src="/cdn/js/pageloader.js"></script>
    <script type="module" src="<%= trdsUrl %>/trds-bundle.js"></script>
</head>
<body is="trds-body">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NW2HMCX" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('sections/header.ejs') %>

    <trds-main>
        <%- include(`pages/${page.name}/${page.name}.ejs`) %>
    </trds-main>

    <%- include('sections/footer.ejs') %>

    <%- include('sections/cookiebar.ejs') %>

    <trds-modal id="fontosinfo" showonfirsthit title="Híreink - 2022.01.01.">
        <trds-stack>
            <trds-paragraph>
            Kedves Ügyfeleink!<br>
            <br>
            Sikerekben gazdag, boldog új évet kívánunk mindenkinek! 🎉🎉🎉<br>
            <br>
            Híreink ⬇️<br>
            <br>
            2022. Január 1.-től megszüntetjük BUDAPESTI műhelyünket. Megértésüket köszönjük.<br>
            GYŐRI műhelyünk továbbra is zavartalanul működik és várja minden horpadástól, jégkártól szabadulni vágyó ügyfelét 2022-ben is 🎉<br>
            <br>
            A bejelentkezéshez minden információ megtalálható weboldalunkon.<br>
            </trds-paragraph>
            <trds-button text="Tovább" icon="solid/arrow-right" class="icon-on-right" onclick="this.closest('trds-modal').close()"></trds-button>
        </trds-stack>
    </trds-modal>
</body>
</html>