<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('sections/head.ejs') %>
    <script type="module" src="https://cdn.jsdelivr.net/gh/danielkormos1993/trds@master/trds-bundle.js"></script>
</head>
<body is="trds-body">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NW2HMCX" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('sections/header.ejs') %>

    <trds-main>
        <%- include(`pages/${page.name}/${page.name}.ejs`) %>
    </trds-main>

    <%- include('sections/footer.ejs') %>

    <%- include('sections/cookiebar.ejs') %>

    <!-- <script type="module" async src="<%- trbUrl %>/components/trbs-modal.js"></script>
    <trbs-modal id="fontosinfo" showonfirsthit title="Fontos információ - 2021.09.11.">
        <trbs-stack>
            <p>
            Kedves Ügyfeleink!<br>
            <br>
            Csapatunk megkezdte a magyarországi jégkáros autók javítását  🚗🔨<br>
            <br>
            Első körben szerződött partnereink autóit javítjuk meg:<br>
            ➡️ Emil frey Magyarország<br>
            ➡️ Opel Maxabo<br>
            ➡️ Suzuki Szeleczky<br>
            ➡️ Autopalace Buda<br>
            ➡️ Wallis British Motors<br>
            ➡️ Honda Budaörs<br>
            ➡️ Honda M&M<br>
            ➡️ Novofleet<br>
            ➡️ Citroen Peugeot Pásztor<br>
            <br>
            Várólistás ügyfeleink autóit 2021. Októberében kezdjük el javítani Győrben, és Budapesten is.<br>
            <br>
            Várólistánkra (JELENLEG 2022. FEBRUÁRNÁL TARTUNK) való feliratkozáshoz hívjanak minket Győrben a +36705939393-as telefonszámon, Budapesten pedig a +36703895187-es telefonszámon.<br>
            <br>
            ✔️ CASCO jégkár ügyintézés, javítás<br>
            ✔️ Önfinanszírozott jégkár javítás<br>
            ✔️ Horpadás javítás<br>
            </p>
        </trbs-stack>
    </trbs-modal> -->
</body>
</html>