<% 
    locals.trbUrl = process.env.mode === 'production' ? 'https://cdn.jsdelivr.net/gh/danielkormos1993/trb@1.3.0' : 'http://192.168.0.101:5050';
%> 
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('sections/head.ejs') %>
    <script type="module" src="<%- trbUrl %>/layout/trbs-layout.js"></script>
    <script type="module" src="<%- trbUrl %>/theme/tr-theme.js"></script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NW2HMCX" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%- include('sections/header.ejs') %>
    <main>
        <%- include(`pages/${page.name}/${page.name}.ejs`) %>
    <main>
    <%- include('sections/footer.ejs') %>
    <%- include('sections/cookiebar.ejs') %>
</body>
</html>