<%- include('sections/hdr_hero.ejs') %>
<%- include('sections/hdr_services.ejs') %>
<%- include('../../sections/reviews.ejs') %>
<trds-section>
    <trds-stack>
        <h2 class="variant--1">Munkáink</h2>
        <div id="workmedia-list" class="short"></div>
        <a is="trds-button--link" text="További munkáink" icon="solid/arrow-right" class="icon-on-right" href="/munkaink"></a>
    <trds-stack>
</trds-section>
<%- include('../../sections/faq.ejs') %>
<script type="module">
    import { initCategory } from '/cdn/js/category.js'; // port to websites cdn
    initCategory(document.getElementById('faq-category'), 'hdr');
</script>
<%- include('../../sections/contact.ejs') %>